.banner{
    background: url("../public/bannersecond.png") center center;
    height: 500px;
    position: relative;
    
}
.banner__info{
    background-color: black;
    color: whitesmoke;
    padding-top: 29vh;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom:80px;
    width: 330px;
}
.banner__search{
    display: flex;
flex-direction: column;
}
.banner__searchButton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;

}
.banner__info >button{
    background-color: #ff7779;
    color: white;
    text-transform: inherit;
    margin-top: 6px;
    font-weight: 600;
    border-radius: none;
}
.banner__info > h5{
    margin-top: 10px;

}
.banner__info >button:hover{
    background-color: white;
    color:#ff7779 ;
    border-radius: none;
}